body{
	background: black;
	display: flex;
	justify-content: center;
	background:linear-gradient(rgba(10, 10, 10, 0.3),rgba(0, 0, 0, 0.7)), 
	url('E:\Ganesh learnig things/loginb3.jpg');

	background-size: cover;
	background-repeat: no-repeat;
}

.register{
box-shadow: inset 0 0 20px  black;
	height: 98%;
	width: 98%;
	border-radius: 80px;
	outline: white;
	border:inset; 20px solid white;
}
.becomemember span{
	color: white;
	margin-top: 10px;
	text-align: center;
	margin-left: 30%;
}
.becomemember{

		
	overflow: hidden;
	width: 35%;
	height: 87vh;
margin-top: 60px;
margin-bottom: 50px;
margin-left: 2%;
	border:none;
	box-shadow: 0 0 20px black;
}
.becomemember h1{
	
	color: white;
	margin-top: 5%;
	margin-left: 37%;
	letter-spacing: 5px;
	font-size: 40px;
	height: 42px;
	width: 240px;
}
.circ{
	position: relative;
	display: flex;
	left: 5%;
	top: 40px;
	
}
span.circ
{
	
	border: 0px solid transparent;
	height: 5px;
	width: 5px;
	background: transparent;
	margin: 0 8px;
	border-radius: 70%;
	box-shadow: 0 0  50px 4px red,250px 7px  30px 5px red,
	0 0  20px 5px red,
	-100px 60px  20px 2px yellow,
	10px 50px  20px 6px blue,200px 20px 30px 5px  white,-30px 200px 25px 5px green,-200px 20px 30px 4px  white,
	3px 90px 9px  blue,0 0  20px 6px rgb(246, 255, 0),0 0  19px 5px rgb(89, 0, 255);
animation: ball 14s linear infinite;
animation-duration: calc(700s/var(--i));
animation-delay: -15s;
}
.circ span:nth-child(odd){
	background: rgb(241, 249, 3);
	margin: 0 8px;
	border-radius: 70%;
	box-shadow: 0 20px  20px 5px yellow;
	box-shadow: 0 0  25px 7px rgb(254, 197, 197),
	-100px 60px  30px 7px yellow,
	10px 50px  50px 7px blue,200px 20px 25px 5px white,-30px 200px 15px 4px green,-200px 20px 30px 3px  white,
	3px 90px  35px 9px  blue,0 0  29px 3px rgb(0, 179, 255),
	0 0  34px 5px rgb(0, 255, 85), 30px 20px 30px 2px white,-30px 20px 35px 6px green,
	3px 20px 30px 5px blue;

}
@keyframes ball{
	0%{transform: translateY(1000px) scale(0);opacity: 0}
	20%{opacity: 1;filter: hue-rotate(190deg);}
	40%{opacity: .8;filter: hue-rotate(270deg);}
	100%{transform: translateY(-1000px) scale(1);filter: hue-rotate(360deg); opacity:0.5 }

}
.becomemember label{
margin-left: 70px;
padding-top: 20px;
font-size: 18px;
color: white;
}
.becomemember label{
	
}
.becomemember input[type=name],input[type=password],input[type=gmail]{
	color: white;
	outline: none;
	width: 70%;
	height: 40px;
box-shadow: 0 0 3px white;
border-radius: 20px;
	background:rgba(0, 0, 0, .4);
	border: 1px solid white;
	margin-left: 15%;
	display: block;
	margin-top: 5px;
	font-size: 18px;
}

.becomemember input[type=radio]{
	margin-left: 20px;
	height: 15px;
	width: 25px;

}
.becomemember a button:hover{
background: red;
transform: scale(1.05);
}

.becomemember button.sbt{
	margin-left: 25%;
	color: white;
	font-size: 20px;
	height: 40px;
	width: 50%;
	border-radius: 20px;
	margin-bottom: 10px;
top:20px;
box-shadow: none;
	background: darkblue}
	.becomemember button.sbt:hover{
		
		background: red;
	}
	.becomemember span a{
		color: blue;
	}

::placeholder{
	color: white;
	text-align: center;
	opacity: .7;
}
