*{
    margin:0;
    padding:0;
    font-family:sans-serif;

}
body{
     
}
.hero{
  
    width:100%;
    height:100%;
    position:absolute;
    z-index: -111;
   
}
.choosephotoo{
    color: blueviolet;
    margin-left: 20px;
}
input[type="file"] {
background: blueviolet;
    border-radius: 10px;
}
.formbox{
    width:1050px;
    height:530px;
    position:relative;
    background-color:pink;
    margin:3% auto;
    padding:1%;
    top: -7%;
    overflow:hidden;
    border: 4px solid black;
    overflow-y: scroll;
}
.flex{

}
.buttonBox{
    left: 33%;
    width:320px;
    height: 44px;
    margin:30px 50px;
    position:relative;
    box-shadow:0px 0px 20px 0px #333;
    border-radius:20px; 
}

.toggleBtn{
    padding:8px 25px;
    background:transparent ;
    border:0;
    outline:none;
    position:relative ;
    transition:.5s;
}
#btn{
    height:100%;
   
    top:0;
    left:0;
    position:absolute;
    width:165px;
    border-radius:20px;
    background-color:brown;
    transition:.5s;
}

#btn1{
    color:#fff;
    position: relative;
    top: 5px;
    left: 50px;

}


.inputGrp{
    top:150px;
    width:400px;
    position:absolute ;
    transition:.5s;
    margin-left:30px;
    
    
}

.inputField{
    padding:10px 0px;
    width:100%;
    margin:30px 0px;
    border:0;
    border-bottom:1px solid #333;
    outline:none;
    background-color:transparent ;
    
    
}
.categories{
    margin-left: 0px;
    background: deeppink;
    padding: 20px;
}
textarea .inputpost{
    height: 100px;
    background: blueviolet;
}


.submitBtn{
    width:85%;
    padding:8px 15px;
    margin:auto;
    margin-bottom: 20px;
    display:block;
    background-color:brown;
    border-radius:30px;
    border:0;
    outline:none;
    box-shadow:0px 0px 2px 0px #333;
    color:#fff;
    margin-top:15px;
    
}
.submitBtn:hover{
    background-color: red;
}

#regis{
    width:100%;
    margin-top:30px;
}
.checkBox{
    margin:20px 7px 25px 0px;
    appearance:none;
    background-color:#777;
    padding:2px;
    border-radius:4px;
    height:17px;
    align-items:center ;   
    width:17px;
    outline:none;
    transition:.5s;
}

.checkBox:after{
    font-family:"Font Awesome 5 Free";
    content:"\00c";
    font-weight:900;
    color:#777; 
    transition:.5s;    
}

.checkBox:checked{
    background-color:brown;
}

.checkBox:checked:after{
    color:#fff;
}

label{
    position:absolute ;
    margin-top:21px;
    font-size:14px;
    color:#777;
    
}

.icons{
    width:150px;
    margin:0 auto;
    
}


.icons i{
    font-size:20px;
    color:#fff;
    margin:5px 5px;
    background-color:brown;
    padding:8px;
    border-radius:30px;
    width:20px;
    text-align:center;
}


#login{
    left:30%;

}


#register{
left: 1500px;
}

footer{
    width:100%;
    height:40px;
    background-color:brown;
    color:#fff;
    bottom:0;
    text-align:center;
    display:flex;
    
}
 footer h3{
     margin:auto;
 }

 #btn2{
    top: 5px;
   position: relative;
   left: 90px;
 }

#two{
    width:80%;
    margin:0 auto;
    background-color:#efefef;
    color:#333;
}
        